<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrator: Estates</title>
</head>
<body>

<div>
    <table border="1px">
        <tr>
            <th>ID</th>
            <th>Address</th>
            <th>Area</th>
            <th>Cost</th>
            <th>Floors</th>
            <th>Rooms</th>
            <th>State</th>
            <th>Type</th>
            <th>Edit</th>
        </tr>
        <tr th:each="estate : ${estates}">
            <td th:text="${estate.getId()}">estate_id</td>
            <td th:text="${estate.getAddress()}">estate_address</td>
            <td th:text="${estate.getArea()}">estate_area</td>
            <td th:text="${estate.getCost()}">estate_cost</td>
            <td th:text="${estate.getFloors()}">estate_floors</td>
            <td th:text="${estate.getRooms()}">estate_rooms</td>
            <td th:text="${estate.getStatus()}">estate_status</td>
            <td th:text="${estate.getType()}">estate_type</td>
            <td><a th:href="@{~/admin/estates/{id}(id=${estate.getId()})}"><buttun>Edit</buttun></a></td>
        </tr>
    </table>
    <a th:href="@{/admin/estates/add}"><button>Add estate</button></a>
</div>

</body>
</html>