<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add realtor</title>
</head>
<body>
<form th:method=POST th:action="@{/admin/realtors/add}" th:object="${realtor}">
    <label for="role">User:</label>
    <select id="role" th:field="*{user}">
        <option th:each="current : ${availableUsers}" th:value="${current.getId()}" th:text="${'#'+ current.getId() + ' '+ current.getName() + ' ' + current.getSurname()}">VALUE</option>
    </select>
    <br/>
    <input type="submit" value="Add"/>
</form>
<br/>
</body>
</html>